/* Error: Undefined variable.
 *     ,
 * 131 |         @media (max-width: $md) {
 *     |                            ^^^
 *     '
 *   scss/product-detail.scss 131:22  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a     \2577 \a 131 \2502          @media (max-width: $md) {\a     \2502                             ^^^\a     \2575 \a   scss/product-detail.scss 131:22  root stylesheet";
}
